.cta {
  padding: 0;
  background-color: #0c0909;
}

.cta__content {
  display: flex;
  align-items: center;
  gap: 2.5rem;
  justify-content: space-between;
}

.cta__text h2 {
  font-size: 2rem;
  color: #ffffff;
  margin-bottom: 1.25rem;
}

.cta__cta-button--primary {
  padding: 0.625rem 1.25rem;
  background-color: #3d1edd;
  color: #fff;
  border-radius: 0.25rem;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s;
}

.cta__cta-button--primary:hover {
  background-color: #434190;
}

.cta__image {
  width: 50%;
  border-radius: 0;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
}