/* global.css */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f8f8f8;
}

.header__content,
.main .quote__content,
.main .connect__content,
.main .cta__content,
.footer__content {
    width: 90%;
    max-width: 75rem;
    margin: 0 auto;
}

/* Пример базовых стилей */
.slider {
  padding: 2rem;
  max-width: 1200px;
  margin: auto;
}

.slider__title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.slider__text {
  font-size: 1rem;
  margin-bottom: 2rem;
}

.swiper {
  width: 100%;
  height: auto;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.swiper-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 10;
}

.swiper-button-prev {
  left: -20px;
}

.swiper-button-next {
  right: -20px;
}